<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.kiwiproject" level="TRACE"/>
    <logger name="org.kiwiproject.io.TimeBasedDirectoryCleaner" level="WARN"/>

    <!--
    NOTE: A logger for this test class *must* be present and at DEBUG level for the test to work (since it
    is testing logging and specifically whether the lazy supplier executes or not.
    -->
    <logger name="org.kiwiproject.slf4j.LazyLogParameterSupplierTest" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>