<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.kiwiproject" level="TRACE"/>
    <logger name="org.kiwiproject.io.TimeBasedDirectoryCleaner" level="INFO"/>

    <!--
    NOTE: A logger for this test class *must* be present and at DEBUG level for the test to work (since it
    is testing logging and specifically whether the lazy supplier executes or not.
    -->
    <logger name="org.kiwiproject.logging.LazyLogParameterSupplierTest" level="DEBUG"/>

    <!-- This is required for the RetryResultLoggerTest -->
    <appender name="MEMORY" class="org.kiwiproject.retry.InMemoryAppender"/>

    <!-- This is required for the RetryResultLoggerTest -->
    <logger name="org.kiwiproject.retry.RetryResultLoggerTest" level="DEBUG">
        <appender-ref ref="MEMORY"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>