<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.kiwiproject" level="TRACE"/>
    <logger name="org.kiwiproject.io.TimeBasedDirectoryCleaner" level="INFO"/>

    <!--
    NOTE: A logger for this test class *must* be present and at DEBUG level for the test to work (since it
    is testing logging and specifically whether the lazy supplier executes or not.
    -->
    <logger name="org.kiwiproject.logging.LazyLogParameterSupplierTest" level="DEBUG"/>

    <!-- This is required for RetryLoggerTest and RetryResultLoggerTest -->
    <appender name="MEMORY" class="org.kiwiproject.retry.InMemoryAppender"/>

    <!-- This is required for the RetryLoggerTest -->
    <logger name="org.kiwiproject.retry.RetryLoggerTest" level="TRACE">
        <appender-ref ref="MEMORY"/>
    </logger>

    <!-- This is required for the RetryResultLoggerTest -->
    <logger name="org.kiwiproject.retry.RetryResultLoggerTest" level="DEBUG">
        <appender-ref ref="MEMORY"/>
    </logger>

    <!-- The following loggers MUST exist for JSchSlf4jLoggerTest -->
    <logger name="jsch-logger-TRACE" level="TRACE"/>
    <logger name="jsch-logger-DEBUG" level="DEBUG"/>
    <logger name="jsch-logger-INFO" level="INFO"/>
    <logger name="jsch-logger-WARN" level="WARN"/>
    <logger name="jsch-logger-ERROR" level="ERROR"/>
    <logger name="org.kiwiproject.jsch.JSchSlf4jLogger" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>