name: Print Delomboked Sources

on:
  workflow_dispatch:
    # no inputs needed here

jobs:
  delombok-and-print:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Java 17
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 17

      - name: Cache Maven packages
        uses: actions/cache@v5
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2        
        
      - name: Run Delombok
        uses: sleberknight/delombok-action@56a7f9d35ad110b4c85e400353c355124f476c08
        
      - name: Print the Delomboked code
        uses: sleberknight/print-delombok@13bf5860ede3e769a836dda7804df9e08a685e55
